<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragment/common :: head('Chat')">

</head>
<body>
<th:block th:replace = "fragment/common :: menu('chat')"></th:block>
<div id="layoutSidenav">
    <div th:replace = "fragment/common :: side('side')"></div>
    <div id="layoutSidenav_content">
        <main>
            <div class="chatList position-absolute top-50 start-50 translate-middle">
                <table class="table">
                    <thead class="table-dark">
                    <tr>
                        <th>제목</th>
                        <th>생성일</th>
                        <th>상대방</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="chatInfo: ${chatInfos}" th:classappend="|${chatInfo.chatTitle}|">
                        <td th:text="${chatInfo.chatTitle}"></td>
                        <!--                        <td th:text="${#temporals.format(question.createDate, 'yy-MM-dd HH:mm')}"></td>-->
                        <td th:text="${chatInfo.createChatDate}"></td>
                        <td th:if="${user.nickname == chatInfo.username}" th:text="${chatInfo.partner}"></td>
                        <td th:if="${user.nickname == chatInfo.partner}" th:text="${chatInfo.username}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="chatModal">
                <div class="chatModal_body">
                    <div class = "chatModal_content" id="content"></div>
                        <button class = "sendMessage" type="button">전송</button>
                    <button class="closeChat">닫기</button>
                </div>
            </div>
        </main>
        <footer th:replace = "fragment/common :: footer('footer')"></footer>
    </div>
</div>
<script th:inline="javascript">
    [# th:each="chatInfo, stat : ${chatInfos}"]
    var chatInfo[[${stat.count}]] = [[${chatInfo}]];
    [/]
</script>
<script>
    const chatModal = document.querySelector('.chatModal');
    const chatOpen = document.querySelector('.화정동떡볶이');
    const chatClose = document.querySelector('.closeChat');
    chatOpen.addEventListener('click', () => {
        console.log(chatInfo1.chatTitle)
        chatModal.style.display = 'block';
    });
    chatClose.addEventListener('click', () => {
        chatModal.style.display = 'none';
    });
    // let arr = []; //아이디 값을 담음
    // const chatModal = document.querySelector('.chatModal')
    // const element = document.getElementById('content');
    // const btnClosePopup2 = document.querySelector('.closeChat');
    // for(let i= 0; i<chatInfos.length; i++){
    //     arr[i] = document.querySelector('.'+chatInfos[i].chatTitle)
    // }
    // for(let i= 0; i<chatInfos.length; i++){
    //     arr[i].addEventListener('click', () => {
    //         chatModal.style.display = 'block';
    //     });
    // }
    // function fetchMessage(){
    //     element.innerText+='<div>gg</div>'
    // }
    //
    // btnClosePopup2.addEventListener('click', () => {
    //     boardModal.style.display = 'none';
    // });

</script>
<script>

    const modal = document.querySelector('.modal');
    const btnOpenPopup = document.querySelector('.btn-open-popup');
    const btnClosePopup = document.querySelector('.modal_close');

    btnOpenPopup.addEventListener('click', () => {
        modal.style.display = 'block';
    });
    btnClosePopup.addEventListener('click', () => {
        modal.style.display = 'none';
    });

</script>
<script th:inline="javascript">
    var message = [[${message}]];
    if(message!==null){
        alert(message);
    }
    // location.replace([[${searchUrl}]]);
</script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script  th:inline="javascript">
    function deleteAccount(username){
        if (!confirm("정말로 삭제하시겠습니까?")) {
            alert("삭제가 취소되었습니다.")
        } else {
            $.ajax({
                url:'/api/users/'+username,
                type:'DELETE',
                success: function (result){
                    alert('정상적으로 삭제 되었습니다.')
                    window.location.href="/account/login";
                }
            })
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>-->
</body>
</html>