<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head th:replace="fragment/common :: head('Chat')">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<!--Coded With Love By Mutiullah Samim-->

<body class="sb-nav-fixed" id="navFix">
<th:block th:replace = "fragment/common :: menu('chatList')"></th:block>
<div id="layoutSidenav">
  <div th:replace = "fragment/common :: side('side')"></div>
  <div id="layoutSidenav_content" >
    <div class="chatroomBg">
      <div class="chatList row justify-content-center h-100">
        <div class="col-md-4 col-xl-5 chat">
          <div class="contacts_card">
            <div class="card-header">
              <div class="input-group">
                <input type="text" placeholder="Search..." name="" class="form-control search">
                <div class="input-group-prepend">
                  <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                </div>
              </div>
            </div>
            <div class="card-body contacts_body">
              <ui class="contacts">
                <div class="d-flex bd-highlight" th:id="${chatInfo.chatTitle}" th:each="chatInfo: ${chatInfos}">
                  <div onclick="showChatModal(this.getAttribute('id'))" class="d-flex bd-highlight" th:id="${chatInfo.id}" >
                    <div class="img_cont img_cont-1">
                      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973461_960_720.png" class="rounded-circle user_img">
                      <span class="online_icon"></span>
                    </div>
                    <div class="user_info" >
                      <span th:text="${chatInfo.chatTitle}"></span>
                      <p th:if="${user.nickname == chatInfo.partner}" th:text="${chatInfo.username}"></p>
                      <p th:if="${user.nickname == chatInfo.username}" th:text="${chatInfo.partner}"></p>
                      <p th:text="|${#strings.substring(chatInfo.createChatDate,0,4)}년 ${#strings.substring(chatInfo.createChatDate,5,7)}월 ${#strings.substring(chatInfo.createChatDate,8,10)}일
                                        ${#strings.substring(chatInfo.createChatDate,11,13)}시 ${#strings.substring(chatInfo.createChatDate,14,16)}분
                                        |"></p>
                    </div>
                    <!--                                        <div th:if="${user.nickname == chatInfo.username}" th:text="${chatInfo.partner}"></div>-->
                    <!--                                        <div th:if="${user.nickname == chatInfo.partner}" th:text="${chatInfo.username}"></div>-->
                  </div>
                  <div class="new_message" th:id="${chatInfo.id}" onclick="showChatModal(this.getAttribute('id'))">
                    <div class="messageCount-frame">
                      <span class="messageCount" th:id="|notice${chatInfo.id}|"></span>
                    </div>
                  </div>
                  <div class="frame" style="right:10px; width:100px;" >
                    <button class="chatDeleteBtn custom-btn btn-9"  th:id="${chatInfo.id}" onclick="deleteChat(this.getAttribute('id'))">삭제</button>
                  </div>
                </div>
              </ui>
            </div>
          </div>
        </div>

        <div class="col-md-8 col-xl-6 chatModal" >
          <div class="card">
            <div class="card-header msg_head">
              <div class="d-flex bd-highlight">
                <div class="img_cont">
                  <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973461_960_720.png" class="rounded-circle user_img">
                  <span class="online_icon"></span>
                </div>
                <div class="user_info">
                  <span class="chat_title user_info" id="title" style="color:white; margin-bottom: 20px"></span>
                  <p id="chatInfoPartnerName"></p>
                  <!--                                        <p th:if="${user.nickname == chatInfo.partner}" th:text="${chatInfo.username}"></p>-->
                  <!--                                        <p th:if="${user.nickname != chatInfo.partner}" th:text="${chatInfo.partner}"></p>-->
                </div>
                <div class="video_cam">
                  <span><i class="fas fa-video"></i></span>
                  <span><i class="fas fa-phone"></i></span>
                </div>
              </div>
              <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
              <div class="action_menu">
                <ul>
                  <li onclick="showPartnerProfile()"><i class="fas fa-user-circle"></i> View profile</li>
                </ul>
              </div>
            </div>

            <div class="card-body msg_card_body">
              <div class="chat_content" id="content"></div>
            </div>

            <div class="card-footer">
              <div class="input-group">
                <div class="input-group-append">
                  <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                </div>

                <input type="text" class="inputMessage form-control type_msg" placeholder="Type your message..." id="inputMessage" name="inputMessage">
                <button class = "input-group-text send_btn sendMessage" type="button" onclick="messagePost()"><i class="fas fa-location-arrow"></i></button>
              </div>
            </div>
            <button class="closeChat btn-close btn-close-white" onclick="closeChat(user.nickname)" aria-label="Close"></button>
          </div>
        </div>
      </div>
    </div>
    <footer th:replace = "fragment/common :: footer('footer')"></footer>
  </div>
</div>
</div>

<!--상대방 프로필 보기 클릭시 뜨는 모달-->
<div class="partnerProfileModal" style="display:none;" th:each="chatInfo: ${chatInfos}">
  <div class="card-container">
    <div class="upper-container">
      <div class="image-container">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973461_960_720.png" />
      </div>
      <button onclick="closePartnerProfile()" type="button" class="btn-close btn-close-black partnerProfileModal_closeBtn" aria-label="Close"></button>
    </div>
    <div class="lower-container">
      <div>
        <h3 id="showYou"></h3>
        <h4 id="showYourEmail"></h4>
      </div>
      <div>
        <p>상대방의 프로필입니다.</p>
      </div>
    </div>
  </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    let chatInfos = /*[[${chatInfos}]]*/;
    let chatInfo_length = /*[[${chatInfos.size()}]]*/;
    let user = /*[[${user}]]*/;
    /*]]>*/
</script>
<script>
    const new_message = document.querySelector('.new_message')

    <!--로그인 된 사용자가 각각 채팅방을 마지막에 읽은 시간을 넣어줌-->
    var lastReadTime=[];

     <!--각 채팅방의 고유번호(ID)를 넣어줌-->
     var chatInfoId = [];

     <!--각 채팅방에 알람 ID값이 담긴 배열-->
     var noticeChatMessages = [];

     chatNotice();

    function chatNotice(){
        <!--채팅방 정보 fetch로 받아옴-->
        fetch('/chatApi/chatInfo')
            .then(data=>data.json())
            .then(responseData=>{
                var k=0;
                <!--로그인 된 사용자가 각각 마지막에 채팅메세지 읽은 시간을 넣어줌-->
                for(let i=0; i<responseData.length; i++){
                    if(responseData[i].partner==user.nickname){
                        lastReadTime[k] = responseData[i].partnerLastReadTime;
                        chatInfoId[k] = responseData[i].id;
                        k++;
                        <!--console.log("파트너같을때")-->
                    }
                        else if(responseData[i].username==user.nickname){
                        lastReadTime[k] = responseData[i].userLastReadTime;
                        chatInfoId[k] = responseData[i].id;
                        <!--console.log("유저같을때")-->
                        k++;
                    }
                }
            })

            <!--noticeChatMessages 배열에 알림 html 태그 넣어줌-->
            for(let i=0; i<chatInfoId.length; i++) {
                noticeChatMessages[i] = document.getElementById(`notice${chatInfoId[i]}`);
            }

            <!--여러 채팅방들의 사용자가 읽지 않은 메세지 숫자를 담고있는 배열-->
            var chatNoticeNum = new Array(lastReadTime.length);

            <!--기본 값 0으로-->
            chatNoticeNum.fill(0);

            <!--이번에는 채팅메세지들을 받아옴-->
            fetch('/chatApi/chatMessage')
                .then(data=>data.json())
                .then(responseData=>{
                    <!--채팅방에 대한 채팅내역을 순회하면서 시간비교. 시간은 '>'나 '<'로 비교 가능. 가장 최근에 본 시간 이후의 시간들이면 값을 ++ -->
                    for(let j=0; j<chatInfoId.length; j++) {
                        for(let i=0; i<responseData.length; i++) {
                            if(chatInfoId[j]==responseData[i].chatInfo.id) {
                                if((lastReadTime[j] < responseData[i].chatMessageTime) && user.nickname!=responseData[i].username) {
                                    <!--console.log(j + "번째 채팅방 알람 증가")-->
                                    <!--console.log(chatInfoId.length)-->
                                    chatNoticeNum[j]++;
                                }
                            }
                        }
                    }
                    <!--알림 html 태그에 값을 넣어줌-->
                    for(let i=0; i<chatNoticeNum.length; i++) {
                        if ( chatNoticeNum[i] == 0) {
                          new_message.style.display='hidden'
                        }
                        else {
                          noticeChatMessages[i].innerText = chatNoticeNum[i]
                        }
                    }
                })

                setTimeout(function (){
                    chatNotice()
                }, 1000);
     }
</script>

<script>
    const chatModal = document.querySelector('.chatModal');
    const partnerProfileModal = document.querySelector('.partnerProfileModal');
    const chatClose = document.querySelector('.closeChat');
    const action_menu = document.querySelector('.action_menu');

     function chatMessage_upload(id) {
        fetch(`/chatApi/chatMessage/${id}`)
            .then(data=>data.json())
            .then(responseData=>{
                content.innerHTML="<div></div>"
                for(let i=0; i<responseData.length; i++) {
                    var time = responseData[i].chatMessageTime
                    var time2 = time.substring(5,7)+"월 "+time.substring(8,10)+"일 "+time.substring(11,16) //11,16 //5,6 월 //8,9 일

                    if(responseData[i].username == user.nickname) {
                        content.innerHTML+=
                            `<div class="d-flex justify-content-end mb-4">
                                <div class="msg_container_send">
                                    ${responseData[i].content}
                                    <span class="msg_time_send">${time2}</span>
                                </div>`+`
                                <div class="img_cont_msg">
                                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973461_960_720.png" class="rounded-circle user_img_msg">
                                </div>
                            </div>`

                    } else {
                        content.innerHTML+=
                            `<div class="d-flex justify-content-start mb-4">
                                <div class="img_cont_msg">
                                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973461_960_720.png" class="rounded-circle user_img_msg">
                                </div>`+`
                                <div class="msg_container">
                                    ${responseData[i].content}
                                    <span class="msg_time">${time2}</span>
                                </div>
                            </div>`
                    }
                }
            })

            setTimeout(function () {
                chatMessage_upload(id)
            },1000);
    }

     function messagePost(){
        var inputMessage = document.getElementById('inputMessage').value;
        fetch("/chatApi/sendMessage/"+chatId,{
            method: 'POST',
            headers:{
                'content-type':'application/json'
            },
            body : JSON.stringify({
                nickname: user.nickname,
                chatId : chatId,
                chatContent: inputMessage
            }),
        }).then((response)=>console.log(response))
        document.getElementById('inputMessage').value=""
    }
</script>

<script>
    // const modal = document.querySelector('.modal');
    // const btnClosePopup = document.querySelector('.modal_close');

    const title = document.getElementById('title');
    const content = document.getElementById('content');
    const chatInfoPartnerName = document.getElementById('chatInfoPartnerName');
    const showYou = document.getElementById('showYou');
    const showYourEmail = document.getElementById('showYourEmail');

    let arr_chatId=[];
    let chatId;

    for(let i= 0; i<chatInfo_length; i++){
        arr_chatId[i] = document.getElementById(chatInfos[i].chatTitle)
    }

     function showChatModal(id) {
        chatModal.style.display = 'block';

        <!--입장버튼 누르면 clickedChatId에 클릭한 채팅방의 ID가 들어옴 이걸 closeChat에서 lastTime 처리해야함 -->
        clickedChatId  = id;
        for(let i= 0; i<chatInfo_length; i++){
            arr_chatId[i].addEventListener('click', () => {
                title.innerHTML = `<div>${chatInfos[i].chatTitle}</div>`
                if( user.nickname == chatInfos[i].partner) {
                     chatInfoPartnerName.innerText = chatInfos[i].username
                }
                if( user.nickname == chatInfos[i].username) {
                     chatInfoPartnerName.innerText = chatInfos[i].partner
                }
                chatId = chatInfos[i].id;
                chatMessage_upload(chatInfos[i].id, id)
            });
        }
    }



    function deleteChat(id){
		Swal.fire({
		  title: '채팅방 나가기',
		  text: "채팅방을 나가면 다시 복구시킬 수 없습니다.",
		  icon: 'warning',
		  showCancelButton: true,
		  confirmButtonColor: '#3085d6',
		  cancelButtonColor: '#d33',
		  confirmButtonText: '삭제',
		  cancelButtonText: '취소'
		}).then((result) => {
		  if (result.value) {
            Swal.fire({
            title: '삭제가 완료되었습니다.',
            text: '새로운 채팅방을 생성해보세요!',
            icon: 'success'
             }).then((result2) => {
                $.ajax({
                url:'/chatApi/chatDelete/'+id,
                type:'DELETE',
                success: function (result){
                    window.location.href="/chat/list";
                    }
                })
             })
		  }
		})
	}

    function closeChat(name){
        chatClose.style.display = 'none'
        content.innerText=""
        $.ajax({
            url:`/chatApi/modifyLastTime/${clickedChatId}/${name}`,
            type:'POST',
            success: function (result) {
                location.reload();
            }
        })
        location.reload();
    }

    <!--메세지 모달 상단 토글-->
    $(document).ready(function () {
      $("#action_menu_btn").click(function () {
        $(".action_menu").toggle();
      });
    });

    <!--상대방 프로필 보기 모달-->
    function showPartnerProfile() {
        partnerProfileModal.style.display = 'block';
        action_menu.style.display = 'none';

        var chatInfoPartnerName = document.getElementById('chatInfoPartnerName')
        var chatInfoPartnerName2 = chatInfoPartnerName.innerText;

<!--        console.log(chatInfoPartnerName2)-->

        fetch(`/chatApi/partnerProfile/${chatInfoPartnerName2}`)
            .then(data=>data.json())
            .then(responseData=>{
                console.log(responseData)
                showYou.innerText = responseData.nickname
                showYourEmail.innerText = responseData.username
            })
    }

    <!--상대방 프로필 보기 모달 닫기-->
     function closePartnerProfile(){
        partnerProfileModal.style.display='none';
    }

</script>

<script th:inline="javascript">
    var message = [[${message}]];
    if(message!==null){
        alert(message);
    }
</script>

<script src="js/modal-board.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>-->
</body>
</html>