<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragment/common :: head('Profile')">

</head>
<body class="sb-nav-fixed" id="navFix">
<th:block th:replace = "fragment/common :: menu('home')"></th:block>
<div id="layoutSidenav">
    <div th:replace = "fragment/common :: side('side')"></div>
    <div id="layoutSidenav_content">
            <a th:href="@{/}">
                <img class="mb-4" src="https://getbootstrap.kr/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
            </a>
        <h2 class="h3 mb-3 fw-normal">프로필</h2>
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    이메일
                </div>
                <div class="col-sm-2">
                    <input type="email" class="form-control-plaintext" id="staticEmail" th:value="${user.username}" name="username" readonly>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    이름
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control-plaintext" id="nickname" th:value="${user.nickname}" name="nickname" readonly>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-secondary mb-3" onclick="showAccountModifyNickname()">수정</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    비밀번호
                </div>
                <div class="col-sm-2">
                    <input type="password" class="form-control-plaintext" id="password" value="****" name="password" readonly>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-secondary mb-3" onclick="showAccountModifyPassword()">수정</button>
                </div>
            </div>

            <a class="btn btn-primary"
                    th:username="${user.username}"
               onclick="if ( !confirm('정말로 삭제하시겠습니까?') ) return false;" th:href="@{|/account/remove/${user.username}|}">회원탈퇴</a>
        </div>
        <h2 class="h3 mb-3 fw-normal">내가 쓴 게시글</h2>

        <div class="modal_accountModifyNickname" sec:authorize="isAuthenticated()">
            <div class="modal_body_accountModifyNickname">
                <h3>닉네임 변경</h3><br/>
                본인을 표현할 수 있는 닉네임<br/>
                또는 실명을 권장합니다.
                <form th:action="@{/modifyNickname}">
                    <br/>
                    <div class="col-sm-10">
                        <input type="text" class="form-control-plaintext" th:value="|현재 닉네임: ${user.nickname}|" name="currentNickname" readonly>
                    </div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control-plaintext" id="newNickname" placeholder="새로운 닉네임" name="newNickname">
                    </div>
                    <button class="modal_close btn btn-secondary mb-3" type="submit">수정</button>
                    <button class="modal_close btn btn-secondary mb-3" type="button" onclick="closeProfileNickname()">닫기</button>
                </form>
            </div>
        </div>

        <div class="modal_accountModifyPassword" sec:authorize="isAuthenticated()">
            <div class="modal_body_accountModifyPassword">
                <h3>비밀번호 변경</h3><br/>
                다른 사이트에서 사용한 적이 없는 비밀번호 또는<br/>
                이전에 사용한 적이 없었던 비밀번호를 권장합니다.
                <form th:action="@{/modifyPassword}">
                    <br/>
                    <div class="col-sm-10">
                        <input type="password" class="form-control-plaintext" id="currentPassword" placeholder="현재 비밀번호" name="currentPassword">
                    </div>

                    <div class="col-sm-10">
                        <input type="password" class="form-control-plaintext" id="newPassword" placeholder="새 비밀번호" name="newPassword">
                    </div>
                    <div class="col-sm-10">
                        <input type="password" class="form-control-plaintext" id="newPasswordCheck" placeholder="새 비밀번호 확인" name="newPasswordCheck">
                    </div>
                    <button class="modal_close btn btn-secondary mb-3" type="submit">수정</button>
                    <button class="modal_close btn btn-secondary mb-3" type="button" onclick="closeProfilePassword()">닫기</button>
                </form>
            </div>
        </div>
        <footer th:replace = "fragment/common :: footer('footer')"></footer>
    </div>
</div>
<script>
    const accountModifyNickname  = document.querySelector(".modal_accountModifyNickname")
    function showAccountModifyNickname(){
        accountModifyNickname.style.display='block';
    }
    function closeProfileNickname(){
        accountModifyNickname.style.display='none';
    }

    const accountModifyPassword  = document.querySelector(".modal_accountModifyPassword")
    function showAccountModifyPassword(){
        accountModifyPassword.style.display='block';
    }
    function closeProfilePassword(){
        accountModifyPassword.style.display='none';
    }

</script>
<script>

</script>
<script src="js/modal-category.js"></script>
<script src="js/category-marker.js"></script>
<script src="js/modal-chat.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>

</html>