<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" dir="ltr">
<head th:replace="fragment/common :: head(title)">
    <meta charset="utf-8">
    <title>Login - EatTwoGetter</title>
    <link rel="stylesheet" th:href="@{/css/myProfile.css}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body class="sb-nav-fixed" id="navFix">
<th:block th:replace = "fragment/common :: menu('home')"></th:block>
<div id="layoutSidenav">
    <div th:replace = "fragment/common :: side('side')"></div>
    <div id="layoutSidenav_content">

        <!-- 프로필 보기 페이지 -->
        <div class="myProfileContainer">
            <div class="profileContainer">
                <header>
                    <br/>
                    <h3 th:text="${user.nickname} + ' 님의 프로필'"></h3>
                </header>

                <span class="details">이메일</span>
                <div class="input-field">
                    <input type="email" class="form-control-plaintext" id="staticEmail" th:value="${user.username}" name="username" readonly>
                </div>
                <span class="details">닉네임</span>
                <div class="input-field">
                    <input type="text" class="form-control-plaintext" id="nickname" th:value="${user.nickname}" name="nickname" readonly>
                </div>

                <br/><br/>
                <div class="button" >
                    <div class="inner"></div>
                    <button onclick="showAccountModifyNickname()">닉네임 수정하기</button>
                </div>
                <div class="button" >
                    <div class="inner"></div>
                    <button onclick="showAccountModifyPassword()">비밀번호 수정하기</button>
                </div>

                <button th:username="${user.username}" onclick="deleteAccount(this.getAttribute('username'))"  >회원탈퇴</button>
            </div>
        </div>

        <!-- 닉네임 변경 모달 -->
        <div class="modal_accountModifyNickname" sec:authorize="isAuthenticated()">
            <div class="modal_body_accountModifyNickname">
                <h3>닉네임 변경</h3><br/>
                본인을 표현할 수 있는 닉네임<br/>
                또는 실명을 권장합니다.
                <form th:action="@{/modifyNickname}">
                    <br/>
                    <div class="col-sm-10">
                        <input type="text" class="form-control-plaintext" th:value="|현재 닉네임: ${user.nickname}|" name="currentNickname" readonly>
                    </div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control-plaintext" id="newNickname" placeholder="새로운 닉네임" name="newNickname">
                    </div>
                    <button class="modal_close btn btn-secondary mb-3" type="submit">수정</button>
                    <button class="modal_close btn btn-secondary mb-3" type="button" onclick="closeProfileNickname()">닫기</button>
                </form>
            </div>
        </div>

        <!-- 비밀번호 변경 모달 -->
        <div class="modal_accountModifyPassword" sec:authorize="isAuthenticated()">
            <div class="modal_body_accountModifyPassword">
                <h3>비밀번호 변경</h3><br/>
                다른 사이트에서 사용한 적이 없는 비밀번호 또는<br/>
                이전에 사용한 적이 없었던 비밀번호를 권장합니다.
                <form th:action="@{/modifyPassword}">
                    <br/>
                    <div class="col-sm-10">
                        <input type="password" class="form-control-plaintext" id="currentPassword" placeholder="현재 비밀번호" name="currentPassword">
                    </div>

                    <div class="col-sm-10">
                        <input type="password" class="form-control-plaintext" id="newPassword" placeholder="새 비밀번호" name="newPassword">
                    </div>
                    <div class="col-sm-10">
                        <input type="password" class="form-control-plaintext" id="newPasswordCheck" placeholder="새 비밀번호 확인" name="newPasswordCheck">
                    </div>
                    <button class="modal_close btn btn-secondary mb-3" type="submit">수정</button>
                    <button class="modal_close btn btn-secondary mb-3" type="button" onclick="closeProfilePassword()">닫기</button>
                </form>
            </div>
        </div>

        <footer th:replace = "fragment/common :: footer('footer')"></footer>
    </div>
</div>
<script>
    const accountModifyNickname  = document.querySelector(".modal_accountModifyNickname")
    function showAccountModifyNickname(){
        accountModifyNickname.style.display='block';
    }
    function closeProfileNickname(){
        accountModifyNickname.style.display='none';
    }

    const accountModifyPassword  = document.querySelector(".modal_accountModifyPassword")
    function showAccountModifyPassword(){
        accountModifyPassword.style.display='block';
    }
    function closeProfilePassword(){
        accountModifyPassword.style.display='none';
    }


/*회원 탈퇴 시 사용되는 메서드*/
function deleteAccount(username){
    Swal.fire({
      title: '회원 탈퇴하기',
      text: "회원을 탈퇴하면 다시 복구시킬 수 없습니다.",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: '삭제',
      cancelButtonText: '취소'
    }).then((result) => {
      if (result.value) {
        Swal.fire({
        title: '삭제가 완료되었습니다.',
        text: '그동안 서비스를 이용해주셔서 감사합니다.',
        icon: 'success'
         }).then((result2) => {
            $.ajax({
                url:'/api/users/'+username,
                type:'DELETE',
                success: function (result){
                    alert('정상적으로 삭제 되었습니다.')
                    window.location.href="/account/login";
                }
            })
         })
      }
    })
}
  </script>
<script src="js/modal-category.js"></script>
<script src="js/category-marker.js"></script>
<script src="js/modal-chat.js"></script>
<script stc="js/modal-board.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

</body>
</html>
