<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <!--    <title th:text="@{'게시판 - ' + ${post.title}}"></title>-->
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title" th:text="@{${post.title}}"></h5>
            <p class="card-text">
                <small
                        class="text-muted"
                        th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}"
                ></small>
            </p>
            <p class="card-text" th:text="|닉네임 : ${post.username}|"></p>
            <p class="card-text" th:text="|위도 : ${post.lat}|"></p>
            <p class="card-text" th:text="|경도 : ${post.lng}|"></p>
            <p class="card-text" th:text="|가게유형 : ${post.storeType}|"></p>
            <p class="card-text" th:text="|상호명 : ${post.storeName}|"></p>
            <p class="card-text" th:text="|주문내역 : ${post.orderDetail}|"></p>
            <p class="card-text" th:text="|최소주문금액 : ${post.minimumOrderAmount}|"></p>
            <p class="card-text" th:text="|배달요금 : ${post.deliveryCharge}|"></p>
            <p class="card-text" th:text="|기타사항 : ${post.content}|"></p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-auto mr-auto"></div>
        <div class="col-auto">
            <a class="btn btn-info" th:href="@{'/post/edit/' + ${post.id}}" role="button">수정</a>
        </div>
        <div class="col-auto">
            <form id="delete-form" th:action="@{'/deleteBoard/' + ${post.id}}" method="post">
                <input type="hidden" name="_method" value="delete" />
                <button id="delete-btn" onclick="btnClick()" type="submit" class="btn btn-danger">삭제</button>
            </form>
        </div>
    </div>
</div>

<!--취소눌러도 삭제됨. 수정필요-->
<script>
    function btnClick() {
        if (confirm("정말 삭제하시겠습니까?") == true) {
            document.form.submit();
        } else {
            return;
        }
    }
</script>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>