<div sec:authorize="isAuthenticated()" th:fragment="boardModal('boardModal')">
  <div class="boardModal">

  </div>
</div>

<!--게시판 정보 모달 띄우기 start!-->
<div sec:authorize="isAuthenticated()" th:fragment="boardDetailModal('boardDetailModal')">
  <div class="boardDetailModal">
    <div class="boardDetailModal_content">
      <h3 class="boardDetailModal_header">게시글 정보입니다.</h3>
      <div class="boardDetailModal_body ">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">항목</th>
            <th scope="col">정보</th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <th scope="row">닉네임</th>
            <td id="showBoardNickname"></td>
          </tr>
          <tr>
            <th scope="row">생성 시간</th>
            <td id="makeBoardTime"></td>
          </tr>
          <tr>
            <th scope="row">위치</th>
            <td id="showBoardLocate"></td>
          </tr>
          <tr>
            <th scope="row">제목</th>
            <td id="showBoardTitle"></td>
          </tr>
          <tr>
            <th scope="row">가게유형</th>
            <td id="showBoardType"></td>
          </tr>
          <tr>
            <th scope="row">상호명</th>
            <td id="showBoardName"></td>
          </tr>
          <tr>
            <th scope="row">주문내용</th>
            <td id="showBoardOrder"></td>
          </tr>
          <tr>
            <th scope="row">최소주문금액</th>
            <td id="showBoardMin"></td>
          </tr>
          <tr>
            <th scope="row">배달요금</th>
            <td id="showBoardDel"></td>
          </tr>
          <tr>
            <th scope="row">기타사항</th>
            <td id="showBoardContent"></td>
          </tr>
          </tbody>
        </table>
        <input type="hidden" id="showBoardId"/>
        <input type="hidden" id="showBoardLat"/>
        <input type="hidden" id="showBoardLng"/>

        <div class="col-auto mt-5">
          <div class="partnerBtn">
            <button type="button" class="btn btn-success findMiddleBtn" onclick="middleSpace()" >중간 지점 찾기</button>
            <button type="button" class="btn btn-primary chat-btn chat_btn" onclick="showChat()">채팅하기</button>
          </div>
          <div class="myBtn">
            <button class="btn btn-warning boardModifyBtn" onclick="modifyBoard()">수정</button>
            <button onclick="deleteBoard()"
               class="delete btn btn-danger btn-outline-secondary boardDeleteBtn" sec:authorize="isAuthenticated()"
               th:text="삭제"></button>
          </div>
        </div>
        <button onclick="closeBoardDetailModal()" type="button" class="btn-close btn-close-black boardDetailModal_close2" aria-label="Close"></button>
      </div>
    </div>
  </div>
</div>



</script>

<!--th:if="${user.nickname == boardInfo.username}"-->

<!--게시판 정보 모달 띄우기 end!-->
<div class="chatRoomModal" th:fragment="chatRoomModal('chatRoomModal')">
  <div class="chatRoomModal_body">
    <div>채팅방 제목</div>
    <input id="chatRoomTitle" type="text" placeholder="채팅방 제목을 입력해주세요."/>
    <div>
      <button onclick="postChat()">확인</button>
      <button class="chatRoomModal_close" onclick="closeChat()">닫기</button>
    </div>
  </div>
</div>

