<!--<!DOCTYPE html>-->
<!--<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->
<!--<head>-->
<!--    <meta charset="UTF-8" />-->
<!--    <title>게시판 - 글쓰기</title>-->
<!--    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;<header th:insert="common/header.html"></header>&ndash;&gt;-->
<!--<div class="container">-->
<!--    <div class="boardModal" sec:authorize="isAuthenticated()">-->
<!--        <form action="/post" method="post">-->

<!--            <div class="form-group row">-->
<!--                <label for="inputTitle" class="col-sm-2 col-form-label"><strong>제목</strong></label>-->
<!--                <div class="col-sm-10">-->
<!--                    <input type="text" name="title" class="form-control" id="inputTitle" />-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="form-group row">-->
<!--                <label for="inputStoreType" class="col-sm-2 col-form-label"><strong>가게유형</strong></label>-->
<!--                <div class="col-sm-10">-->
<!--                    <input type="text" name="storeType" class="form-control" id="inputStoreType" />-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="form-group row">-->
<!--                <label for="inputStoreName" class="col-sm-2 col-form-label"><strong>상호명</strong></label>-->
<!--                <div class="col-sm-10">-->
<!--                    <input type="text" name="storeName" class="form-control" id="inputStoreName" />-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="form-group row">-->
<!--                <label for="inputOrderDetail" class="col-sm-2 col-form-label"><strong>주문내용</strong></label>-->
<!--                <div class="col-sm-10">-->
<!--                    <input type="text" name="orderDetail" class="form-control" id="inputOrderDetail" />-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="form-group row">-->
<!--                <label for="inputMinimumOrderAmount" class="col-sm-2 col-form-label"><strong>최소주문금액</strong></label>-->
<!--                <div class="col-sm-10">-->
<!--                    <input type="text" name="minimumOrderAmount" class="form-control" id="inputMinimumOrderAmount" />-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="form-group row">-->
<!--                <label for="inputDeliveryCharge" class="col-sm-2 col-form-label"><strong>배달요금</strong></label>-->
<!--                <div class="col-sm-10">-->
<!--                    <input type="text" name="deliveryCharge" class="form-control" id="inputDeliveryCharge" />-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="form-group row">-->
<!--                <label for="inputContent" class="col-sm-2 col-form-label"><strong>기타사항</strong></label>-->
<!--                <div class="col-sm-10">-->
<!--                    <textarea type="text" name="content" class="form-control" id="inputContent"></textarea>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="form-group row">-->
<!--                <label for="username" class="col-sm-2 col-form-label"><strong>닉네임</strong></label>-->
<!--                <div class="col-sm-10">-->
<!--                    <input type="text" name="username" class="form-control" id="username" />-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="form-group row">-->
<!--                <label for="lat" class="col-sm-2 col-form-label"><strong>위도</strong></label>-->
<!--                <div class="col-sm-10">-->
<!--                    <input type="text" name="lat" class="form-control" id="lat" />-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="form-group row">-->
<!--                <label for="lng" class="col-sm-2 col-form-label"><strong>경도</strong></label>-->
<!--                <div class="col-sm-10">-->
<!--                    <input type="text" name="lng" class="form-control" id="lng" />-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="row">-->
<!--                <div class="col-auto mr-auto"></div>-->
<!--                <div class="col-auto">-->
<!--                    <input class="btn btn-primary" type="submit" role="button" value="글쓰기" />-->
<!--                </div>-->
<!--            </div>-->

<!--        </form>-->
<!--    </div>-->
<!--</div>-->
<!--<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>-->
<!--<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>-->
<!--</body>-->
<!--</html>-->