<!--카테고리 박스, 가운데 핀,
현재 위치(replace 적용, 별도 파일임) 박스, gps 버튼 fragment-->


<div class="map_wrap" th:fragment="map_wrap('map_wrap')">
  <div id="map" style="width:100%;height:100%;"></div>
    <!--마커게시판 필터링 바 삽입 공간-->
    <div id="category">
      <button  id="all" class="all" onclick="allBtn()" ><img id="all_img" src="./images/all.png" height ="40" width="40" />전체</button>
      <button  id="k_food" onclick="k_foodBtn()" class="k_food_btn" ><img id="k_food_img" src="./images/k-food.png" height ="40" width="40" />한식</button>
      <button  id="j_food" class="j_food" onclick="j_foodBtn()" ><img id="j_food_img" src="./images/j-food.png" height ="40" width="40" />일식</button>
      <button  id="c_food"  class="c_food" onclick="c_foodBtn()" ><img id="c_food_img" src="./images/c-food.png" height ="40" width="40" />중식</button>
      <button  id="w_food"  class="w_food" onclick="w_foodBtn()" ><img id="w_food_img" src="./images/w-food.png" height ="40" width="40"  />양식</button>
      <button  id="cafe"  class="cafe" onclick="cafeBtn()" ><img id="cafe_img" src="./images/cafe.png" height ="40" width="40" />카페</button>
      <button  id="late_food" class="late_food" onclick="late_foodBtn()"><img id="late_food_img" src="./images/late-food.png" height ="40" width="40" />야식</button>
      <button  id="etc"  class="etc" onclick="etcBtn()"><img id="etc_img" src="./images/etc.png" height ="40" width="40" />기타</button>

<!--      <button type="button" id="all" class="all" onclick="allBtn()" data-order="0" height ="40" width="40" th:valeu="전체"><img id="all_Img" src="./images/all.png" height ="40" width="40" />전체</button>-->
<!--      <button type="button" id="k_food" onclick="k_foodBtn()" class="k_food_btn" data-order="1" th:valeu="한식"><img src="./images/k-food.png" height ="40" width="40"  />한식</button>-->
<!--      <button type="button" id="j_food" class="j_food" onclick="j_foodBtn()" data-order="2" th:valeu="일식"><img src="./images/j-food.png" height ="40" width="40" />일식</button>-->
<!--      <button type="button" id="c_food"  class="c_food" onclick="c_foodBtn()" data-order="3" th:valeu="중식"><img src="./images/c-food.png" height ="40" width="40" />중식</button>-->
<!--      <button type="button" id="w_food"  class="w_food" onclick="w_foodBtn()" data-order="4" th:valeu="양식"><img src="./images/w-food.png" height ="40" width="40"  />양식</button>-->
<!--      <button type="button" id="cafe"  class="cafe" data-order="5" onclick="cafeBtn()" th:valeu="카페"><img src="./images/cafe.png" height ="40" width="40" />카페</button>-->
<!--      <button type="button" id="late_food"  class="late_food" data-order="6" onclick="late_foodBtn()" th:valeu="야식"><img src="./images/late-food.png" height ="40" width="40"  />야식</button>-->
<!--      <button type="button" id="etc"  class="etc" data-order="7" onclick="etcBtn()" th:valeu="기타"><img src="./images/etc.png" height ="40" width="40" />기타</button>-->
    </div>

    <button class="gpsButton" id="gpsButtonConnect" onclick="gpsButton()" ><img style="width:40px; height:40px;" src="./images/gpsButton.png" alt="gps"></button>
      <img id="pin" th:src="@{/images/pin.png}"  />
    <div th:replace ="mainMap/present_location :: address_view('address_view')"></div>
</div>