<!--카테고리 박스, 가운데 핀,
현재 위치(replace 적용, 별도 파일임) 박스, gps 버튼 fragment-->


<div class="map_wrap" th:fragment="map_wrap('map_wrap')">
  <div id="map" style="width:100%;height:100%;"></div>

<!--마커게시판 필터링 바 삽입 공간-->


  <button class="gpsButton" id="gpsButtonConnect" onclick="gpsButton()" ><img style="width:40px; height:40px;" src="./images/gpsButton.svg" alt="gps"></button>
  <img id="pin" th:src="@{/images/pin.png}" alt="pin" />
  <div th:replace ="mainMap/present_location :: address_view('address_view')"></div>
</div>