<div id="address_view" th:fragment="address_view('address_view')">
    <p style="margin-top: 20px; font-size: 20px; text-align:center; font-weight: bold">현재 위치</p>
    <span id="centerAddr" style="font-size: 18px; text-align:center;"></span>
    <input type="hidden" id="centerLatLng" style="font-size: 20px;" ></input>

    <div class="modal-generate-button-wrap">
        <button sec:authorize="isAuthenticated()" type="button" class="btn btn-success build_marker" style="display:inline-blook;">게시물 생성</button>
        <a sec:authorize="!isAuthenticated()" type="button" class="btn btn-success" style="display:inline-blook" th:href="@{/account/login}">게시물 생성</a>
    </div>
</div>