<div id="address_view" th:fragment="address_view('address_view')">>
    <p style="font-size: 25px; font-weight: bold">&nbsp;현재 위치</p>
    <span id="centerAddr" style="font-size: 20px"></span>
    <span id="centerLatLng" style="font-size: 20px"></span>

    <button sec:authorize="isAuthenticated()" type="button" class="btn btn-success build_marker" id="build_marker">EAT TWO</button>
    <a sec:authorize="!isAuthenticated()" type="button" class="btn btn-success" th:href="@{/account/login}">EAT TWO</a>

</div>