<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title}">Hello!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="/css/signin.css" rel="stylesheet" th:href="@{/css/modal.css}">
    <link href="/css/styles.css" rel="stylesheet"/>
    <link href="/css/map.css" rel="stylesheet"/>
    <link href="/css/chat.css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/myProfile.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body class="sb-nav-fixed">

<th:block th:fragment="menu(menu)">
    <nav class="sb-topnav navbar navbar-expand navbar-dark">
        <!-- Navbar Brand-->

        <a class="navbar-brand ps-3" th:href="@{/}">EAT-Two Getter</a>
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!" onclick="showNav()"><i class="fas fa-bars"></i></button>
        <div class="container"></div>
            <p class= "mt-3" style="color: white; width: 280px;" sec:authorize="!isAuthenticated()">로그인을 해주세요</p>
            <!--로그아웃 시 나타나는 상단 토글바-->
            <div sec:authorize="!isAuthenticated()">
                <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="/account/login" th:href="@{/account/login}">로그인</a></li>
                        </ul>

                    </li>
                </ul>
            </div>

        <!--로그인 시 나타나는 상단 토글바-->
        <p sec:authorize="isAuthenticated()" class="userState mt-3" style="color: white; width: 500px; text-align:end;"  th:text="${user.nickname} + ' 님 환영합니다.'"></p>
        <div sec:authorize="isAuthenticated()">
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item btn-open-popup" href="#!" onclick="showProfile()">나의 프로필</a></li>
                        <li><a class="dropdown-item" href="/modifyProfile">회원정보 수정</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><form th:action="@{/logout}" method="POST" onsubmit="removeStorage()">
                            <button class="dropdown-item" type="submit" >로그아웃</button>
                        </form></li>
                    </ul>
                </li>
            </ul>
        </div>

<!--        &lt;!&ndash;myprofile 모달창&ndash;&gt;-->
<!--        <div class="modal" sec:authorize="isAuthenticated()">-->
<!--            <div class="modal_body">-->
<!--                    <a th:href="@{/}">-->
<!--                        <img class="mb-4" src="https://getbootstrap.kr/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
<!--                    </a>-->

<!--                    <h2 class="h3 mb-3 fw-normal">프로필</h2>-->
<!--                    <div class="mb-3 row">-->
<!--                        <label for="nickname" class="col-sm-2 col-form-label">이름</label>-->
<!--                        <div class="col-sm-10">-->
<!--                            <input type="text" class="form-control-plaintext" id="nickname" th:value="${user.nickname}" name="nickname" readonly>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="mb-3 row">-->
<!--                        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>-->
<!--                        <div class="col-sm-10">-->
<!--                            <input type="email" class="form-control-plaintext" id="staticEmail" th:value="${user.username}" name="username" readonly>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="mb-3 row">-->
<!--                        <label for="password" class="col-sm-2 col-form-label">PWD</label>-->
<!--                        <div class="col-sm-10">-->
<!--                            <input type="password" class="form-control-plaintext" id="password" placeholder="password" name="password" readonly>-->
<!--                        </div>-->
<!--                    </div>-->
<!--&lt;!&ndash;                    <div class="mb-3 row">&ndash;&gt;-->
<!--&lt;!&ndash;                        <a class="w-10 btn btn-primary mb-3" style="text-align: center"&ndash;&gt;-->
<!--&lt;!&ndash;                                th:username="${user.username}"&ndash;&gt;-->
<!--&lt;!&ndash;                           onclick="if ( !confirm('정말로 삭제하시겠습니까?') ) return false;" th:href="@{|/account/remove/${user.username}|}">회원탈퇴</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                    <button class="w-10 btn btn-primary mb-3" style="text-align: center" type="submit" onclick="location.href='/showProfile'">수정</button>-->
<!--                    <button class="modal_close btn btn-secondary mb-3" type="button" onclick="closeProfile()">닫기</button>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;myprofile 모달창 end!&ndash;&gt;-->


    <div class="modal" sec:authorize="isAuthenticated()">
        <div class="card-container">
            <div class="upper-container">
                <div class="image-container">
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973461_960_720.png" />
                </div>
                <button onclick="closeProfile()" type="button" class="btn-close btn-close-black showProfileModal_closeBtn" aria-label="Close"></button>
            </div>
            <div class="lower-container">
                <div>
                    <h3  th:text="${user.nickname}" name="nickname"></h3>
                    <h4  th:text="${user.username}" name="username" ></h4>
                </div>
                <div>
                    <p>sodales accumsan ligula. Aenean sed diam tristique,
                        fermentum mi nec, ornare arch.
                    </p>
                </div>
                <div>
                    <a href="modifyProfile" class="btn">edit profile</a>
                </div>
            </div>
        </div>
    </div>
    </nav>

    <script>
    const showProfileModal_closeBtn = document.getElementById("showProfileModal_closeBtn")
    const showProfileModal  = document.querySelector(".modal")

    function showNav(){
        if(document.getElementById('navFix').classList.contains('sb-sidenav-toggled')){
            document.getElementById('navFix').classList.remove('sb-sidenav-toggled')
        }else{
            document.getElementById('navFix').classList.add('sb-sidenav-toggled')
        }
    }
    function removeStorage(){
        localStorage.removeItem("Lat")
        localStorage.removeItem("Lng")
    }

    function showProfile(){
        showProfileModal.style.display='block';
    }
    function closeProfile(){
        showProfileModal.style.display='none';
    }

    </script>
    <!--프로필 변경 시 필터-->
    <script th:inline="javascript">
        var message = [[${message}]];
        if(message!==null){
            alert(message);
        }
        // location.replace([[${searchUrl}]]);
    </script>
</th:block>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav" th:fragment="side(side)">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">About ETG</div>
                        <a class="nav-link" href="/about_us">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            ETG 사용방법
                        </a>
                        <div class="sb-sidenav-menu-heading">Two getter with Neighbor</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            채팅방
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/chat/list}">나의 채팅방</a>
                                <a class="nav-link" sec:authorize="!isAuthenticated()" href="/account/login">나의 채팅방</a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            우리 동네 사람들
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link collapsed" onclick="showDistance()">
                                    가까운 이웃
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
<!--                                    이거 클릭하면 가까운 위치 순서대로 뜸-->
                                </a>
<!--                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">-->
<!--                                    하위 메뉴-->
<!--                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
<!--                                </a>-->
                            </nav>
                        </div>
                        <div class="sb-sidenav-menu-heading">편의 메뉴</div>
                            <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/modifyProfile}">나의 프로필 보기</a>
                            <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/report/userReport}">불량회원 신고하기</a>
                            <a class="nav-link" sec:authorize="!isAuthenticated()" href="/account/login">불량회원 신고하기</a>

                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small"><br/></div>
                    <br/>
                </div>
            </nav>
        </div>

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">

                </div>
            </main>
            <footer class="py-4 bg-light mt-auto" th:fragment="footer(footer)">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div></div>
                        <div>Copyright &copy; IdaaBANK in LikeLion Backend School</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>