.map_wrap, .map_wrap * {margin:0; padding:0;font-family: 'Black Han Sans', sans-serif;font-family: 'Noto Sans KR', sans-serif;}
.map_wrap {position:relative;width:100%;height:100%;}
.gpsButton {position:absolute; z-index:2; right:2%; top:43.5%; width:40px; height:40px;}
#pin {z-index:3; position:absolute; left:48%; top:43.5%; width:50px; height:50px;}
#address_view {z-index:2; background-color:white; position:absolute;left:27%; top:70%; width:50%; height:30%; border-radius:5px; border:2px solid;}
#centerAddr {display:block;margin-top:2px;font-weight: normal;}
#build_marker {height:35px;weight:50px;position:absolute;z-index:2;left:80%;top:60%;}

#category {position:absolute;top:10px;left:10px;border-radius: 5px; border:1px solid #909090;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);background: #fff;overflow: hidden;z-index: 2;}
#category button {float:left;list-style: none;width:50px; border-right:1px solid #acacac;padding:6px 0;text-align: center; cursor: pointer;}
#category button.on {background: #eee;}
#category button:hover {background: #ffe6e6;border-left:1px solid }
#category button:last-child{margin-right:0;border-right:0;}

