.modal {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
    display: block;
}

.modal_body {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 400px;
    height: 500px;

    padding: 40px;

    text-align: center;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
}

/*.modal_close{*/
/*    position: absolute;*/
/*    top: 55%;*/
/*    left: 50%;*/
/*    transform: translateX(-50%) translateY(-50%);*/
/*}*/

.boardModal, .boardDetailModal {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
}

.boardModal.show, .boardDetailModal.show {
    display: block;
}

.boardModal_content, .boardDetailModal_content {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 600px;
    height: 700px;

    padding: 40px;

    text-align: center;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);

    overflow-y: auto;
}

.boardModal_close2, .boardDetailModal_close2 {
    position: absolute;
    top: 10px;
    right: 10px;
}



.modal, .chatRoomModal {
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
}

.modal.show, .chatRoomModal.show {
    z-index: 4;
    display: block;
}

.modal_body, .chatRoomModal_body {
    z-index: 4;
    position: absolute;
    top: 50%;
    left: 50%;

    width: 400px;
    height: 500px;

    padding: 40px;

    text-align: center;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
}
#middleAddress {z-index:2; background-color:white; position:absolute;left:27%; top:10%; width:50%; height:15%; border-radius:5px; border:2px solid;}
