<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" dir="ltr">
<head>
    <title>Login - EatTwoGetter</title>
    <link rel="stylesheet" th:href="@{/css/signin.css}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</head>
<body>

<div class="container">
    <header>
        <a th:href="@{/}">
            <img class="mb-4" src="../images/mainLogo.png" alt="" width="72" height="72">
        </a>
        <br/>
        <h6>E-mail Login</h6>
    </header>
    <form th:action="@{/account/login}" method="post">
        <div class="input-field">
            <input type="email" class="form-control" id="username" name="username" required>
            <label>E-mail을 입력하세요.</label>
        </div>
        <div class="input-field">
            <input class="pswrd" type="password" id="password" placeholder="" name="password" required>
            <span class="show">SHOW</span>
            <label>Password를 입력하세요.</label>
        </div>
        <div class="button" >
            <div class="inner"></div>
            <button type="submit">LOGIN</button>
        </div>


        <div class="signup">
            아직 회원이 아니라면?  <a th:href="@{/account/register}">회원가입하러 가기</a>
        </div>
        <div class="signup">
            비밀번호를 잊으셨다면?  <a th:href="@{/account/find}">비밀번호 찾기</a>
        </div>
    </form>
</div>
<script th:inline="javascript">
    var message = [[${message}]];
    if(message!==null){
        alert(message);
    }
    var username = document.getElementById('username').value
    sessionStorage.setItem("username",username)
</script>
<script>
// password show 스크립트 클릭이벤트
var input = document.querySelector('.pswrd');
var show = document.querySelector('.show');
show.addEventListener('click', active);
function active(){
    if(input.type === "password"){
        input.type = "text";
        show.style.color = "#1DA1F2";
        show.textContent = "HIDE";
    }else{
        input.type = "password";
        show.textContent = "SHOW";
        show.style.color = "#111";
    }
}

// 존재 이유 불명
var username = document.getElementById('username').value
sessionStorage.setItem("username",username)
console.log(username)
</script>

</body>
</html>
