<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragment/common :: head('HOME')">

</head>
<body>
    <nav th:replace = "fragment/common :: menu('home')">

    </nav>


    <script>

        const modal = document.querySelector('.modal');
        const btnOpenPopup = document.querySelector('.btn-open-popup');
        const btnClosePopup = document.querySelector('.modal_close');

        btnOpenPopup.addEventListener('click', () => {
            modal.style.display = 'block';
        });
        btnClosePopup.addEventListener('click', () => {
            modal.style.display = 'none';
        });
    </script>
    <script th:inline="javascript">
        var message = [[${message}]];
        if(message!==null){
            alert(message);
        }
        // location.replace([[${searchUrl}]]);
    </script>
</body>

</html>